<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Site</title>
  <link href="/output.css" rel="stylesheet">
</head>
<body>
  <%- include("./includes/navbar.ejs"); %>

  <main class="p-5">
    <div class="mb-5">
      <h1 class="text-2xl">Site</h1>
      <p>Site renderizando as informações do db</p>
    </div>
  
    <ul>
      <% if(user && user.length > 0) { %>
         <% console.log(user) %>
        <% user.forEach(users => { %>
          <div class="bg-zinc-200 border-2 border-zinc-300 hover:border-black flex flex-col max-md:w-[300px] w-[320px] rounded-[15px] overflow-hidden">
            <div class="flex flex-col w-full h-[50%] bg-zinc-900">
              <img src="<%= users.userImg %>">
            </div>
            <div class="flex-1 p-4 text-[1.1rem]">
              <p><%= users.nome %></p>
              <p><%= users.email %></p>
            </div>
            <div class="p-2 flex justify-end">
              <a href="/post/<%= users.id %>" class="h-10 p-3 bg-zinc-500 text-white font-medium rounded-lg hover:opacity-90 transition-all shadow-lg hover:shadow-xl flex items-center justify-center cursor-pointer">
                Detalhes
              </a>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <li>Nenhum post encontrado</li>
      <% } %>
    </ul>
  </main>
</body>
</html>